services:
  meilisearch:
    image: getmeili/meilisearch:v1.35.1
    container_name: meilisearch
    restart: always
    ports:
      - "7700:7700"
    volumes:
      - ./data:/meili_data
    environment:
      - MEILI_MASTER_KEY=${MEILI_MASTER_KEY:-change-me-in-env}
      - MEILI_DB_PATH=/meili_data
