services:
  meilisearch:
    image: getmeili/meilisearch:v1.35.1
    container_name: meilisearch
    restart: always
    ports:
      - "7700:7700"
    volumes:
      - ./data:/meili_data
    env_file:
      - .env.meilisearch
